@model CieciuraB.Todo.Web.Persist.Domain.Item;
@{
    ViewData["Title"] = "Czy chcesz usunąć " + @Model.Name + "?";
}
<h4 align="center" class="col-md-7">@ViewData["Title"]</h4>

@using (Html.BeginForm("Remove", "List", FormMethod.Get, new {@enctype = "multipart/form-data"}))
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Description)
    @Html.HiddenFor(model => model.Priorytet)
    <div class="col-md-7">
        <a class="btn btn-success float-left" style="width: 150px; height: 45px"
           asp-controller="Home"
           asp-action="List">
            Nie
        </a>
       <input type="submit" class="btn btn-danger float-right" value="Tak" style="width: 150px; height: 45px"/>
    </div>
}