@model CieciuraB.Todo.Web.Persist.Domain.Item;
@{
    ViewData["Title"] = "Widok błędu numer " + @Model.Kod;
}
<h4>
    @ViewData["Title"]

    <a class="btn btn-info float-right"
       asp-controller="Home"
       asp-action="List">
        Powrót
    </a>

</h4>
<table class="table table-hover table-bordered">
    <thead>
    <tr>
    <td style="font-weight: bold">Komunikat</td>
    </thead>
    <tbody>
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">

        </div>
    </div>
    <tr>
        <td>
        <div class="form-group">
            <div>
                @Html.DisplayFor(model => model.Komunikat, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Komunikat)
            </div>
        </div>
    </tr>
    </tbody>
</table>
<table class="table table-hover table-bordered">
    <thead>
    <tr>
    <td style="font-weight: bold">Przyczyna</td>
    </thead>
    <tbody>
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
    
        </div>
    </div>
    <tr>
        <td>
        <div class="form-group">
            <div>
                @Html.DisplayFor(model => model.Przyczyna, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Przyczyna)
            </div>
        </div>
    </tr>
    </tbody>
</table>
<table class="table table-hover table-bordered">
    <thead>
    <tr>
    <td style="font-weight: bold">Rozwiązanie</td>
    </thead>
    <tbody>
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
        
        </div>
    </div>
    <tr>
        <td>
        <div class="form-group">
            <div>
                @Html.DisplayFor(model => model.Rozwiazanie, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Rozwiazanie)
            </div>
        </div>
    </tr>
    </tbody>
</table>
<table class="table table-hover table-bordered">
    <thead>
    
    <tr>
    <td style="font-weight: bold">Uwaga</td>
    </thead>
            <tbody>
            <div class="form-horizontal">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
        
                </div>
            </div>
            <tr>
                <td>
                <div class="form-group">
                    <div>
                        @Html.DisplayFor(model => model.Uwaga, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Uwaga)
                    </div>
                </div>
            </tr>
            </tbody>
    
</table>