@using CieciuraB.Todo.Web.Persist.Domain
@model List<CieciuraB.Todo.Web.Persist.Domain.Item>;
@{
    ViewData["Title"] = "Lista błędów systemu Windows";
}

<h1>
    @ViewData["Title"]

    <a class="btn btn-success float-right" style="width: 150px; height: 45px"
       asp-controller="List"
       asp-action="Add">
        Dodaj błąd
    </a>
    <a class="btn btn-primary float-right " style="width: 150px; height: 45px"
       asp-controller="List"
       asp-action="Search">
        Szukaj błędu
    </a>
</h1>

<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <td>Kod</td>
        <td>Komunikat</td>
        <td style="width:243px">Akcje</td>
    </tr>
    </thead>
    <tbody>
    @{
        foreach (CieciuraB.Todo.Web.Persist.Domain.Item item in Model)

        {
            <tr>
                <td>@item.Kod</td>
                <td>@item.Komunikat</td>
                <td>
                    <a class="btn btn-primary btn-sm"
                       asp-controller="List"
                       asp-action="Edit"
                       asp-route-id="@item.Id.ToString()">
                        Edytuj
                    </a>
                    <a class="btn btn-danger btn-sm"
                       asp-controller="List"
                       asp-action="Delete"
                       asp-route-id="@item.Id.ToString()">
                        Usuń
                    </a>
                    <a class="btn btn-info btn-sm"
                       asp-controller="List"
                       asp-action="Show"
                       asp-route-id="@item.Id.ToString()">
                        Sprawdź błąd
                    </a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>